@font-face {
    font-family: 'poppins-semibold';
    src: url(Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'poppins-regular';
    src: url(Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'open-sans-regular';
    src: url(Open_Sans/OpenSans-Regular.ttf);
}
body {
    background-image: url(images/bg-desktop.svg);
    background-color: #684BB1;
}
h1 {
    font-family: 'poppins-semibold';
    color: white;
    line-height: 60px;
    font-size: 40px;
}
p {
    font-family: 'open-sans-regular';
    color: white;
    line-height: 27px;
    font-size: 18px;
}
button {
    font-family: 'poppins-regular';
    font-size: 18px;
    line-height: 27px;
    color: #684BB1;
    width: 200px;
    height: 56px;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px rgba(0,0,0,0.2586);
    border: none;
}

.wrapper-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
}

.image-container {
    padding-left: 50px;
}

.content-container {
    padding-left: 50px;
    padding-top: 10px;
}

.logo {
    width: 264px;
    height: 49px;
    margin-top: 35px;
    margin-left: 15px;
}